---
layout: default
---

<h2 class="post-title">{{ page.title }}</h2>

{{ content }}

<div class="post-metadata">
    — written by

    {% if page.author-handle %}

    <a href="https://github.com/{{ page.author-handle }}">
        <img src="https://raw.githubusercontent.com/primer/octicons/master/icons/mark-github-16.svg">
    </a>

    {% endif %}

    <a href="#">
        {{ page.author }}
    </a>

    · <time datetime="{{ page.date | date_to_xmlschema }}">
        <i>{{ page.date | date_to_long_string: "ordinal" }}</i>
    </time>

    · license <strong>{{ page.license }}</strong>
</div>
